<div class="show-card-container">
      <div class="show-card">
        <div class = "show-image">
          <%= cl_image_tag @dog.photo.key, height: 300, width: 400, crop: :fill %>
        </div>
        <div class = "show-description">
          <p class="card-text"> <strong> Name: </strong><%=@dog.name%></p>
            <p class="card-text"> <strong> Breed: </strong> <%=@dog.breed%></p>
            <p class="card-text"> <strong> Price:$ </strong><%=@dog.price%></p>
            <p class="card-text"> <strong> Description: </strong><%=@dog.description%></p>
             <%= link_to 'Add a booking',new_dog_booking_path(@dog), class: "button2" %>
          <%= link_to 'Back',dogs_path, class: "button3" %>
        </div>
      </div>
  </div>
  <style>
.marker {
display: block;
border: none;
border-radius: 50%;
cursor: pointer;
padding: 0;
}
</style>

  <div data-controller="map"
  id='map'
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEI'] %>"
  data-map-markers-value="<%= @markers.to_json %>"
  style='width: 100%; height: 500px;'></div>
</div>
